/* Base style for all rainbow layers */
div {
  width: 300px;
  height: 150px;
  border: 10px solid transparent;
  border-radius: 50%;
  margin: auto;
  position: relative;
  top: 20px;
}

/* Red layer */
#red {
  border-top-color: #f00; /* red */
}

/* Orange layer */
#orange {
  border-top-color: #ffa500; /* orange */
}

/* Yellow layer */
#yellow {
  border-top-color: #ff0; /* yellow */
}

/* Green layer */
#green {
  border-top-color: #00bc3f; /* green */
}

/* Blue layer */
#blue {
  border-top-color: #06f; /* blue */
}

/* Indigo layer */
#indigo {
  border-top-color: #8a2be2; /* indigo */
}

/* Violet layer */
#violet {
  border-top-color: #d300c9; /* violet */
}


